@import './variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// .App {
//     // background-color: $myColor;
// }

body {
    font-family: $myColor;
    font-style: $myFontSize;
    color: $myColor;
}

.navigation {
    width: $myWidth;
    background-color: $bkColor;

    & li > a {
        text-decoration: none;
    }
}

.menu {
    @include ourBorder(blue, 1px);
    background-color: $bkColorSecondary;

    &__link {
        background-color: wheat;
        border: solid darkred;
    }
}